* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Start slightly below the original position */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at the original position */
    }
}


body {
    font-family: Sour Gummy, sans-serif;
    color: #0c0c0c;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    /* perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden; */
}
 


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    /* background: linear-gradient(to right, #f7797d, #fbd786,#c6ffdd); */
    background: linear-gradient(90deg, hsla(283, 38%, 72%, 1) 0%, hsla(105, 11%, 85%, 1) 100%);
    /* background-color: linear-gradient(to right,#123456,#414141); */
    /* background-color: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  */
    z-index: 1000;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
}
nav ul li {
    margin: 0 1rem;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.17rem;
    
}
nav ul li a:hover{
    font-size: 1.5rem;
    padding: 2.5rem;
}
.intro-item {
    opacity: 0;                           /* Start hidden */
    animation: floatIn 1s ease-out forwards;
    animation-delay: 0.3s;                /* Delay to start the animation */
}








.parallax-section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
          
}

#section1 {
    align-items: center;          
    justify-content: flex-start; 
    color: #fbe1e5;
    text-shadow: 2px 2px 4px #000000;
    text-align: left;    
   
    background-image: url('images/home.jpeg'); 
    display: flex;   
    height: 100vh;
    padding-left: 1%;           
}
.text{
    width:80%;
    margin: 50px ;
}
.text h1 {
    margin-top: 150px;
    font-family: "Sour Gummy", serif;
    font-size: 4.25rem;
    margin-bottom: 0.25px;
}
.text p {
    font-family: "Sour Gummy", serif;
    font-size: 1.25rem;
}


#section2 {
    background-image: url('images/about\ me.jpeg');
    
}
.text2{
    width:80%;
    margin: 50px ;
}
.text2 h2{
    align-items: top;          
    justify-content: left; 
    color: #1146B2;
    text-shadow: 2px 2px 4px #000000;
    text-align: left;    
    font-size: 4.5rem;
    font-family: "Ribeye", serif;
    margin: 5px 5px 85px 15px;
}
.text2 p{
    font-family: "Sour Gummy", serif;
    font-size: 2rem;
    align-items: bottom;          
    justify-content: left; 
    color: #0095ff;
    margin-left: 10px;
    text-align: left;    
}
#section3 {
    background: radial-gradient(circle, hsla(344, 29%, 63%, 1) 0%, hsla(316, 26%, 35%, 1) 66%, hsla(318, 34%, 21%, 1) 100%);
}
.text3{
    width:80%;
    margin: 50px auto;
}
.text3 h1 {
    align-items: center;          
    justify-content: center; 
    color: #fabcc5;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;    
    font-size: 4.5rem;
    font-family: "Sour Gummy", sans-serif;
    margin-bottom: 0.5px;
}
.text3 p{
    font-family: "Sour Gummy", serif;
    font-size: 2rem;
    align-items: center;          
    justify-content: left; 
    color: #fbe1e5;
    margin-left: 10px;
    margin-top: 120px;
    text-align: left;    
}
.text3 p a{
    color: #fabcc5;
}

.column {
    width: 50%;
    box-sizing: border-box;
    padding: 100px;

  }


  .right {
    align-items: right;
    text-align: left;
    float: right;
    height: 80vh;
    margin-bottom: 60px;
    position: relative;
    bottom: 55px;
}
h3{
margin: 5px;
}
 .text3 .column.right .skill{
    list-style: none;
    color: #fbe1e5;
    width: 500px;
    margin: 60px auto auto 100px;
   
  }

 .text3 .column.right .skill li
 {
margin: 20px 0;
padding: 10px;
}  

 .text3 .column.right .skill li .bar{
/* background: rgb(89,126,190);
background: linear-gradient(90deg, rgba(89,126,190,1) 18%, rgba(216,1,252,1) 79%); */
display: block;
height: 20px;
border: 2px solid rgba(254, 253, 253, 0.963);
border-radius: 10px;
overflow: hidden;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
transition: all 0.3s cubic-bezier(.25, .8 .25,1);
}
.text3 .column.right .skill li .bar:hover{
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.text3 .column.right .skill li .bar span{
height: 20px;
float: left;
background: linear-gradient(90deg, hsla(166, 26%, 43%, 1) 0%, hsla(163, 77%, 60%, 1) 100%);

}

.text3 .column.right .skill .html{
width: 80%;
animation: html 3s;
}

.text3 .column.right .skill .css{
width: 70%;
animation: css 3s;
}

.text3 .column.right .skill .content1{
width: 90%;
animation: content1 3s;
}
@keyframes html{
0%{
    width: 0%;
}
100%{
    width: 80%;
}
}
@keyframes css{
0%{
    width: 0%;
}
100%{
    width: 70%;
}
}
@keyframes content1{
0%{
    width: 0%;
}
100%{
    width: 90%;
}
}

#section4 {  
    background: radial-gradient(circle, hsla(218, 41%, 42%, 1) 0%, hsla(42, 52%, 95%, 1) 100%);
}
.text4{
    width:80%;
    margin: 50px auto;
}
.text4 h2 {
    align-items: center;          
    justify-content: center; 
    color: #D0D4D9;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;    
    font-size: 4.5rem;
    font-family: "Sour Gummy", sans-serif;
}
.text4 p {
    align-items: center;          
    justify-content: center; 
    color: #bac8d9;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;    
    font-family: "Sour Gummy", sans-serif;

}
.contact-box{
  
    display: flex;
}

.contact-left{
   
    flex-basis:60%;
    padding: 40px;
}

.contact-right{

    flex-basis: 40%;
    padding: 40px;

}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input{
    width: 100%;
    border:none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: black;
}

button{
    background: #4C6A9D;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 35px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.contact-left h3 {
    
    color:#000000;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 2rem;
    font-family: "Pompiere", sans-serif;
}

.contact-right h3 {
    font-size: 2rem;
    font-family: "Pompiere", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

tr td:first-child{
    padding: 10px;
}

.content-section {
    background-color: #C4E1F6;
    padding: 20px;
    text-align: center;
}

.content-section p {
    margin: 0 auto;
    width: 80%;
    font-size: 1.2em;
}


footer{
    text-align: center;
}